@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
            height: 75px;
            width: 75px;
            background-color: #FEDC01;
            border-radius:50%;
            background-image: url();
            background-size: cover;
}

@layer components {
    .radio-label {
        @apply flex items-center cursor-pointer;
    }

    .radio-input {
        @apply hidden peer;
    }

    .radio-circle {
        @apply w-4 h-4 rounded-full border-2 border-gray-400
        flex items-center justify-center
        peer-checked:border-blue-600
        peer-checked:bg-blue-600;
    }

    .radio-dot {
        @apply w-2 h-2 bg-white rounded-full;
    }

    .radio-text {
        @apply ml-2 text-sm;
    }
}