@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    position: sticky;
    top:0px;
    background-color:#3C4F81;
    z-index:10;

}
.logo{
            height: 75px;
            width: 75px;
            border-radius:50%;
            background-image: url("../assets/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
}
body{
    background-color: #B0A1B4;
}

#home-page {
    position: relative;
    background-image: url('../assets/background_homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#welcome-speech{
    position:absolute;
    top:16px;
    left:16px;
    text-align: left;
    margin:0;
}

@layer components {
    .radio-label {
        @apply flex items-center cursor-pointer;
    }

    .radio-input {
        @apply hidden peer;
    }

    .radio-circle {
        @apply w-4 h-4 rounded-full border-2 border-gray-400
        flex items-center justify-center
        peer-checked:border-blue-600
        peer-checked:bg-blue-600;
    }

    .radio-dot {
        @apply w-2 h-2 bg-white rounded-full;
    }

    .radio-text {
        @apply ml-2 text-sm;
    }
}